<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neura Verse</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <nav class="navbar">
        <div class="navbar-brand">
            <a href="Home.html">Neura Verse</a>
        </div>
        <ul class="navbar-nav" aria-label="Main Navigation">
            <li class="nav-item">
                <a href="Home.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="About.html" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="Playground.html" class="nav-link">Playgrounds</a>
            </li>
        </ul>
        <div class="user">
            <img src="../images/wallpaperflare.com_wallpaper (69)-min.jpg" alt="User Avatar">
        </div>
    </nav>

    <div class="content">
        <div class="page-title">
            Welcome To Neura Verse
        </div>
        <p class="home-page-content">Experiment with advanced language models, transform ideas into stunning visuals,
            enhance your coding skills,
            and convert text to lifelike speech using our cutting-edge AI technologies</p>
        <p class="home-page-content">Whether you're a curious beginner or an experienced developer, Neura Verse offers a
            safe and engaging
            environment to explore the potential of AI.</p>
    </div>

    <footer class="myFooter">
        <nav>
            <ul>
                <li>Follow Us</li>
                <li class="social"><a href="#" target="_blank"><img src="../images/twitter-logo.png" alt="Twitter"></a>
                </li>
                <li class="social"><a href="#" target="_blank"><img src="../images/linkedIn0+-logo.webp"
                            alt="LinkedIn"></a></li>
                <li class="social"><a href="#" target="_blank"><img src="../images/github-logo.webp" alt="GitHub"></a></li>
                <li class="social"><a href="#" target="_blank"><img src="../images/insta-logo.webp" alt="Instagram"></a>
                </li>
            </ul>
            <ul>
                <li><a href="About.html">About Us</a></li>
                <li><a href="Home.html">Home</a></li>
                <li><a href="ContactUs.html">Contact Us</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>